<div (click)="goUp()" [ngClass]="{'hidden': scale == 1.0, 'disabled': x == 3}" class="move-button up">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg>
</div>
<div (click)="goDown()" [ngClass]="{'hidden': scale == 1.0, 'disabled': x == 1}" class="move-button down"><svg
        xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg></div>
<div (click)="goLeft()" [ngClass]="{'hidden': scale == 1.0, 'disabled': x == 3 || x == 1}" class="move-button left"><svg
        xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg></div>
<div (click)="goRight()" [ngClass]="{'hidden': scale == 1.0, 'disabled': x == 3 || x == 1}" class="move-button right">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg>
</div>
<div [ngClass]="{full: scale === 1}" class="box-wrapper-1">
    <div class="box-wrapper-2">
        <div [style]="transformStyle" class="box">
            <div (click)="clickedFace()" class="face front">
                <first-page></first-page>
            </div>
            <div (click)="clickedFace()" class="face back"> BACK </div>
            <div (click)="clickedFace()" class="face right"> RIGHT </div>
            <div (click)="clickedFace()" class="face left"> LEFT </div>
            <div (click)="clickedFace()" class="face top"> TOP </div>
            <div (click)="clickedFace()" class="face bottom"> BOTTOM </div>
        </div>
    </div>
</div>