<div [style]="scaleStyle" [ngClass]="{full: scale === 1}" class="box-wrapper-1">
    <div class="box-wrapper-2">
        <div [style]="transformStyle" class="box">
            <div (click)="clickedFace()" class="face front">
                <first-page></first-page>
            </div>
            <div (click)="clickedFace()" class="face back">
                BACK
                <div style="position: absolute; left: 0">y</div>
                <div style="position: absolute; right: 0">y</div>
                <div style="position: absolute; top: 0">x</div>
                <div style="position: absolute; bottom: 0">x</div>
            </div>
            <div (click)="clickedFace()" class="face right">
                RIGHT
                <div style="position: absolute; left: 0">y</div>
                <div style="position: absolute; right: 0">y</div>
                <div style="position: absolute; top: 0">z</div>
                <div style="position: absolute; bottom: 0">z</div>
            </div>
            <div (click)="clickedFace()" class="face left">
                LEFT
                <div style="position: absolute; left: 0">y</div>
                <div style="position: absolute; right: 0">y</div>
                <div style="position: absolute; top: 0">z</div>
                <div style="position: absolute; bottom: 0">z</div>
            </div>
            <div (click)="clickedFace()" class="face top">
                TOP
                <div style="position: absolute; left: 0">z</div>
                <div style="position: absolute; right: 0">z</div>
                <div style="position: absolute; top: 0">x</div>
                <div style="position: absolute; bottom: 0">x</div>
            </div>
            <div (click)="clickedFace()" class="face bottom">
                BOTTOM
                <div style="position: absolute; left: 0">z</div>
                <div style="position: absolute; right: 0">z</div>
                <div style="position: absolute; top: 0">x</div>
                <div style="position: absolute; bottom: 0">x</div>
            </div>
        </div>
    </div>
</div>