@keyframes example {
  0% {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateX(20deg) rotateZ(20deg);
  }
  40% {
    transform: rotateX(30deg) rotateZ(0deg);
  }
  60% {
    transform: rotateX(-30deg) rotateZ(-20deg);
  }
  80% {
    transform: rotateX(-20deg) rotateZ(0ddeg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.box-wrapper-1 {
  transform: scale3d(0.5, 0.5, 0.5);
  transform-style: preserve-3d;
  &:not(.full) {
      .face {
        cursor: pointer;
        border: 1px solid blue;
      }
      .box-wrapper-2 {
        transform-style: preserve-3d;
        &:hover {
          animation-name: example;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
      }
  }
}

.box {
  height: 100vh;
  aspect-ratio: 1;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  margin: 0 auto;

  .face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    color: #fff;
    background-color: lightcyan;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.front {
      // background: rgb(90, 90, 90);
      transform: translateZ(calc(100vh / 2));
    }

    &.back {
      // background: rgb(0, 210, 0);
      transform: rotateY(180deg) translateZ(calc(100vh / 2));
    }

    &.right {
      // background: rgb(210, 0, 0);
      transform: rotateY(90deg) translateZ(calc(100vh / 2));
    }

    &.left {
      // background: rgb(0, 0, 210);
      transform: rotateY(-90deg) translateZ(calc(100vh / 2));
    }

    &.top {
      // background: rgb(210, 210, 0);
      transform: rotateX(90deg) translateZ(calc(100vh / 2));
    }

    &.bottom {
      // background: rgb(210, 0, 210);
      transform: rotateX(-90deg) translateZ(calc(100vh / 2));
    }
  }
}