<header >
 <ul>
     <li>Menu 1</li>
     <li>Menu 2</li>
     <li>Menu 3</li>
 </ul>
</header>

<main>

    <div class="card">
        <span class="title">Critical Tickets</span>
        <span class="content error">4</span>
    </div>

    <div class="card">
        <span class="title">Tickets</span>
        <span class="content info">178</span>
    </div>

    <div class="card">
        <span class="title">Tickets Resolved Today</span>
        <span class="content success">2</span>
    </div>

    <div class="card">
        <span class="title">Technicians Online</span>
        <span class="content info">9</span>
    </div>

    <div class="card">
        <span class="title">Users Online</span>
        <span class="content success">3487</span>
    </div>

    <div class="card">
        <span class="title">Users Offline</span>
        <span class="content error">231</span>
    </div>

    <div class="alert">
        <span> 25.10.2020 14:32 - User Micheal Johnson has set you a ticket </span> <button> See more </button>
    </div>
    <div class="alert">
        <span> 24.10.2020 11:20 - User Micheal Johnson has set you a ticket </span> <button> See more </button>
    </div>
    <div class="alert">
        <span> 22.10.2020 09:21 - User Micheal Johnson has set you a ticket </span> <button> See more </button>
    </div>

</main>