<header >
 <ul>
     <li>Menu 1</li>
     <li>Menu 2</li>
     <li>Menu 3</li>
 </ul>
</header>

<main>

    <div class="card">
        <span class="title">Critical Tickets</span>
        <span class="content error">4</span>
    </div>

    <div class="card">
        <span class="title">Tickets</span>
        <span class="content info">178</span>
    </div>

    <div class="card">
        <span class="title">Tickets Resolved Today</span>
        <span class="content success">2</span>
    </div>

    <div class="card">
        <span class="title">Technicians Online</span>
        <span class="content info">9</span>
    </div>

    <div class="card">
        <span class="title">Users Online</span>
        <span class="content success">3487</span>
    </div>

    <div class="card">
        <span class="title">Users Offline</span>
        <span class="content error">231</span>
    </div>

    <div class="alert critical">
        <span> 26.10.2020 18:11 - <span class="name technician">Adam Richardson</span> marked ticket as critical </span> 
        <span> 17.04.2020 18:11 - <span class="name">Ashley McLean</span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert warn">
        <span> 25.10.2020 14:32 - <span class="name">Micheal Johnson </span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert warn">
        <span> 24.10.2020 11:20 - <span class="name">Micheal Johnson</span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert warn">
        <span> 22.10.2020 09:21 - <span class="name">Micheal Johnson </span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert success">
        <span> 22.10.2020 07:35 - Ticket has been resolved by <span class="name technician">Adam Richardson</span> </span> 
        <span> 22.10.2020 07:12 - <span class="name technician">Adam Richardson</span> has assigned ticket to himself</span> 
        <span> 22.10.2020 07:01 - <span class="name technician">Micheal Johnson</span> has send you a ticket </span>
        <button> See more </button>
    </div>

    <div class="alert success">
        <span> 22.10.2020 07:35 - Ticket has been resolved by <span class="name technician">Adam Richardson</span> </span> 
        <span> 22.10.2020 07:12 - <span class="name technician">Adam Richardson</span> has assigned ticket to himself</span> 
        <span> 22.10.2020 07:01 - <span class="name technician">Micheal Johnson</span> has send you a ticket </span>
        <button> See more </button>
    </div>

</main>