<bar-menu [items]="items"></bar-menu>

<main>
    <div class="cards-holder">
        <title-card title="Critical Tickets" contents="4"></title-card>
        <title-card title="Tickets" contents="178"></title-card>
        <title-card title="Tickets Resolved Today" contents="2"></title-card>
        <title-card title="Technicians Online" contents="9"></title-card>
        <title-card title="Users Online" contents="3487"></title-card>
        <title-card title="Users Offline" contents="231"></title-card>
    </div>

    <div class="alert bg-critical">
        <span> 26.10.2020 18:11 - <span class="name technician">Adam Richardson</span> marked ticket as critical </span>
        <span> 17.04.2020 18:11 - <span class="name">Ashley McLean</span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert bg-warn">
        <span> 25.10.2020 14:32 - <span class="name">Micheal Johnson </span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert bg-warn">
        <span> 24.10.2020 11:20 - <span class="name">Micheal Johnson</span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert bg-warn">
        <span> 22.10.2020 09:21 - <span class="name">Micheal Johnson </span> has send you a ticket </span>
        <button> See more </button>
    </div>
    <div class="alert bg-success">
        <span> 22.10.2020 07:35 - Ticket has been resolved by <span class="name technician">Adam Richardson</span>
        </span>
        <span> 22.10.2020 07:12 - <span class="name technician">Adam Richardson</span> has assigned ticket to
            himself</span>
        <span> 22.10.2020 07:01 - <span class="name technician">Micheal Johnson</span> has send you a ticket </span>
        <button> See more </button>
    </div>

    <div class="alert bg-success">
        <span> 22.10.2020 07:35 - Ticket has been resolved by <span class="name technician">Adam Richardson</span>
        </span>
        <span> 22.10.2020 07:12 - <span class="name technician">Adam Richardson</span> has assigned ticket to
            himself</span>
        <span> 22.10.2020 07:01 - <span class="name technician">Micheal Johnson</span> has send you a ticket </span>
        <button> See more </button>
    </div>

</main>